.point{
  text-align: center;
  font-size: 60px;
}

.command{
  display: flex;
  justify-content: center;
}

button{
  padding:100px 100px;
}

button{
  margin-left:10px;
  margin-right:10px;
}

#clock{
  text-align: center;
  font-size: 30px;
}